<h2>New User</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.collection_select(:group_id, Group.all, :id, :group_name, options = { :prompt => true } ) %>
  </div>
  <br />

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <br />

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <br />

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <br />

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <br />

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <br />

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <br/>
  <br/>

  <div class="fields"><%= f.submit "Sign up" %></div>
  <br/>

<% end %>

<%= render "links" %>
