<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @call.user.full_name %>
</p>

<p>
  <b>Start Time:</b>
  <%= @call.call_start %>
</p>

<p>
  <b>End Time:</b>
  <%= @call.call_end %>
</p>

<p>
  <b>Type:</b>
  <%= @call.call_type.call_type %>
</p>

<p>
  <b>Notes:</b>
  <%= @call.call_notes %>
</p>

<p>
  <b>Call location:</b>
  <%= @call.call_location_id %>
</p>

<p>
  <b>Call type:</b>
  <%= @call.call_direction %>
</p>

<p>
  <b>Contact:</b>
  <%= @call.contact_id %>
</p>


<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>

