<%= form_for(@call_type) do |f| %>
  <% if @call_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@call_type.errors.count, "error") %> prohibited this call_type from being saved:</h2>

      <ul>
      <% @call_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :call_type %><br />
    <%= f.text_field :call_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
